.layout-container{
  min-height:100vh;
}

.layout-body{

  display:flex;

  margin-top:90px;
}

.content-area{

  flex:1;

  padding:20px;

  background:#0b1220;

  min-height:
  calc(100vh - 90px);
}